@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-color{
    background-color: #141618;
}

.nav-bg{
    background-color: #24272a;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/** SCAN QR CODE FOR DEPOSITE SCREEN***/

.info-text{
    font-size: 12px;
}

.qr-code-container{
    position: relative;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    left: calc(50% - 125px);
    img{
        position: relative;
        width: 200px;
        left: calc(50% - 110px);
        margin-top: 5px;
    
}


}

.address{
    width: 100%;
}
.a-btn{
    margin-top: 15px;
    padding: 12px;
    width: 50%;
}

@media screen and (max-width:1200px){
    .a-btn{
        width: 100%;
    }
    .address{
        font-size: 11px;
    }
}

/** SCAN QR CODE FOR DEPOSITE SCREEN ENDS HERE***/

@mixin item-active{
    border-right: 3px solid #5593ff;
    transition: 0.5s;
    font-weight: bold;
    i{
        color: #5593ff;
    }
}

.colu-2{
    position: relative;
}
.side-nav{
    width:inherit;
height: 100vh;
position: fixed;
left: 0;
top: 0;
display: block;
border-right: 1px solid rgb(74, 74, 74);

.nav-items{
    font-size: 14px;
    .item{
        text-decoration: none;
        margin-top: 38px;
        transition: 0.2s;
        color: rgb(230, 230, 230);
       
        .count-noti{
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: red;
            font-size: 10px;
            color: white;
            border-radius: 50%;
            top: 0;
            right: -25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover{
            @include item-active();
        }
    }

    .active{
        @include item-active();
    }
}
}

.nav-footer{
position: absolute;
bottom: 0;
padding-top: 20px;
padding-bottom: 20px;;
a{
    text-decoration: none;
}

}
.interface{
    height: 100vh;

    .header{
        background-color:rgba(21, 23, 25,0.3);
        position: sticky;
        top: 0;
        width: 100%;
        height: 70px;
        align-items: center;
        backdrop-filter: blur(5px);
        

        .title{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .not-pro{
position: absolute;
right: 0px;
        .notification{
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255,0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;

            .count-noti{
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #5593ff;
                color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;

            span{
                font-size: 10px;
            }
            }
        }

        .profile-holder{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                border-radius:50%;
                width: 42px;
                height: 42px;
            }

            .ID{
                .gray{
                    color: gray;
                    font-size: 12px;
                }
            }
        }
    }

    .card-bal{
        border: none;
        .h6{
            color: gray;
        }
        .amount-display{
            font-size: 30px;
            font-weight: bold;
        }

        .btn-hold{
            position: relative;
            width: 50% !important;
            left: calc(50% - 25%);
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
          &:nth-child(2){
            margin-left: 90px;
          }

          &:nth-child(3){
            margin-left: 90px;
          }
                .action-hold{
                    position: relative;
                    width: 60px;
                    height:60px ;
                    left: calc(50% - 35px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(255, 255, 255,0.1);
                    border-radius: 50%;
                    svg{
                        fill: white;
                        width: 30px;
                        height: 30px;
                    }
                }

                span{
                 position: relative;
                 top: 10px;
                 font-size: 16px;
                }
            }

       
        }
        
    }

    .tokens{
        border-top: 1px solid rgba(255, 255, 255,0.1);
position: relative;
height: 47vh;
overflow-y: auto;

&::-webkit-scrollbar{
    display: none;
}
        .token{
            margin-top: 35px;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .token-name{
                margin-left: 20px;

                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                }
            }
        }

        .owned-token{
            text-align: right;
            position: absolute;
            right: 0;
            color: rgba(255, 255, 255,0.5);
        }
    }
}


.bottom-nav{
    display: none;
}

.withdraw-content{
    .search-bar{
        padding: 20px;
        width: 50%;
        border-radius: 50px;
        align-items: center;
        background-color: rgba(100, 100, 100, 0.1);
    
        i{
            margin-left: 10px;
            color: gray;
        }
        input{
            background-color: transparent;
            border: none;
            margin-left: 10px;
            width: 90%;
            outline: none;
            color: white;
        }
    }
    
    .search-tokens{
    position: relative;
    height: 66vh;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
    display: none;
    }
        .token{
            align-items: center;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
    
            .token-name{
                margin-left: 20px;
    
                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                }
            }
        }
    
        .owned-token{
            text-align: right;
            position: absolute;
            right: 0;
            color: rgba(255, 255, 255,0.5);
        }
    }
}

.send-box{
    padding: 25px;
    background-color: #24272a;
    width: 50%;
    position: relative;
    left: calc(50% - 25%);
    margin-top: 50px;
    border-radius: 20px;

    form{
        margin-top: 15px;
        input{
            background-color: transparent;
            outline: none !important;
            border: 1px solid rgba(255, 255, 255,0.2);
            padding: 12px;
            color:rgba(255, 255, 255,0.5) !important;

            &:focus{
                background-color: transparent;
            }
        }
        span{
            font-size: 12px;
            margin-top: 10px;
        }
        label{
          color: gray;
        }
        button{
            padding: 12px;
            width: 100%;
            color: white;
            background-color: #5593ff;

            &:hover{
                background-color: #2575ff !important;
                color: white !important;
            }
        }
    }
}

.summary-box{
    position: relative;
    left: calc(50% - 20%);
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: #202020;
    border-radius: 20px;

    svg{
        width: 80px;
        height: 80px;
        fill: orange;
    }

    .h5{
        color: rgb(196, 196, 196);
        margin-top: 20px;
    }
    .sum{
        position: relative;
        color: gray;
        font-size: 13px;

        .res{
            position: absolute;
            right: 5px;
        color: #525252;
        text-align: right;
        }
    }

    a{
        margin-top: 20px;
        width: 97%;
        background-color: #4388ff;
        padding: 12px;
        color: white;

        &:hover{
            background-color: #2575ff;
            color: white;
        }
    }
    
    .note{
        padding: 12px;
        font-size: 12px;
        text-align: left;
        color: rgb(82, 82, 82);
    }
}


.view-token{
    .cur{
        color: gray;
        font-size: 14px;
    }

    .current-bal{
        .h3{
            font-weight: bold;
            margin-top: 12px;
        }
      
    }
    .own-preview{
        .own-bal{
            color: rgb(88, 88, 88);
        }
    }

    
    .btn-hold{
        position: relative;
        width: 50% !important;
        left: calc(50% - 25%);
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
      &:nth-child(2){
        margin-left: 70px;
      }

      &:nth-child(3){
        margin-left: 70px;
      }

      &:nth-child(4){
        margin-left: 70px;
      }
            .action-hold{
                position: relative;
                width: 60px;
                height:60px ;
                left: calc(50% - 35px);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255,0.1);
                border-radius: 50%;
                svg{
                    fill: white;
                    width: 30px;
                    height: 30px;
                }
            }

            span{
             position: relative;
             top: 10px;
             font-size: 16px;
            }
        }

   
    }
    
    .histories{
        position: relative;
        width: 100%;
        margin-top: 20px;

        .send-to{
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #202020;

            svg{
                width: 30px;
                height: 30px;
            }
        }

        .name-to{
            .h6{
                color: rgb(206, 206, 206);
            }
            .to{
                color: rgb(75, 75, 75);
            }
        }

        .amt-price{
            text-align: right;
            position: absolute;
            right: 0;
            .h6{
                color: rgb(206, 206, 206);
            }
            .price{
                color: rgb(75, 75, 75);
            }
        }
    }
   
}


.app{
    width: 100%;
    height: 100vh;
    overflow-y:auto;
    &::-webkit-scrollbar{
        display: none;
    }
}

.swap-box{
    margin-top: 30px;
    position: relative;
width:60%;
background-color: transparent;
left: calc(50% - 30%);
padding: 20px;
border: none;

.from{
    padding: 30px;
    border-radius: 20px;
    position: relative;
    background-color: #202020;
border: none;
position: relative;

.coin-amt{
    .coin-log-name{
        img{
            width: 40px;
            height: 40px;
        }
    }

    input{
        position: absolute;
        right: 30px;
        text-align: right;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
        color: white;

    }
}
}

.swap-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    background-color:#141618;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
svg{
    width: 30px;
    height: 30px;
}
}


.to{
    padding: 30px;
    border-radius: 20px;
    position: relative;
    background-color: #202020;
border: none;
position: relative;
margin-top: 20px;

.coin-amt{
    .coin-sel{
        img{
            width: 40px;
            height: 40px;
        }

        #token-swap{
            background-color: transparent;
            border: none;
            outline: none;
            color: gray;
            option{
                background-color: #24272a;
            }
        }
    }

    input{
        position: absolute;
        right: 30px;
        text-align: right;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
        color: white;

    }
}

}

}

.swap-btn{
    padding: 12px;
    width:56% ;
    position: relative;
    left: calc(50% - 28%);
}

.nft-wel{
    border-radius: 20px;
    margin-top: 20px;
    background-color: #202020;
   
}

.nft-card{
    .card{
        position: relative;
        border: none;
        background-color: #202020;
        border-radius: 20px;

        .own-create{
            position: relative;
            .own-by{
                .title{
                    font-size: 12px;
                }
                .name{
                    color: #c4c4c4;
                    font-size: 14px;
                }
            }

            .create-by{
                position: absolute;
                text-align: right;
                right: 0;
                .title{
                    font-size: 12px;
                }
                .name{
                    color: #c4c4c4;
                    font-size: 14px;
                }
            }
        }
        #nft-img{
            width: 100%;
            height: 220px;
           border-radius: 10px;
           margin-top: 10px;
        }

        .details{
            .pricing{
                position: relative;
                .token{
                    img{
                        width: 38px;
                        height: 38px;
                        margin-top: 5px;
                    }
                    span{
                        font-size: 14px;
                    }
                }

                a{
                    position: absolute;
                    right: 0;
                    width: 100px;
                    border-radius: 50px;
                }
            }
         
        }
    }
}

.top-platfrom{
    margin-top: 30px;
    .card{
        background-color:#202020;
        width: 100%;
        display: flex;
        border-radius: 20px;
        img{
            width: 40px;
            height: 40px;
        }
    }
}


.text-gray{
    color: rgb(119, 119, 119);
}


/** NFT MODAL**/
.nft-modal{
    background-color: #141618 !important;
.from{
    span{
        font-size: 14px;
        margin-left: 12px;
    }
}
    .profile{
        align-items: center;
        img{
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }
        span{
            margin-left: 15px;
            color: white;
        }
    }

    .price{
        position: relative;
        .price-right{
            position: absolute;
            right: 0;
            text-align: right;
        }
    }

    .payment{
        select{
            width: 100%;
            outline: none;
            border: none;
            background-color: #202020;
            padding: 12px;
            color: gray;
            border-radius: 10px;
        }
        button{
            width: 100%;
            padding: 12px;
        }
    }
}
/** NFT MODAL ENDS HERE**/

.ror{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 75vh;
    overflow-x: auto;
    // z-index: -10;

    .chat-box{
        background-color: #202020;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: calc(50% - 50%);
        border-radius: 70px;
        input{
        width: 90%;
        background-color: transparent;
        border: none;
        color: white;
        margin-left: 20px;
        outline: none;
        }
        button{
            border: none;
            outline: none;
            background-color: transparent;
        }
    }
}

.messages{
    .card{
        background-color: #202020;
        border: none;
        margin-top: 20px;
        .msg{
            border-bottom: 1px solid rgb(54, 54, 54);
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .text-date{
                margin-left: 20px;
            }
        }
    }
}

.others{
    a{
        text-decoration: none;
        .card{
            background-color: #202020;
            border-radius: 15px;

            .cel{
                width: 40px;
                height: 40px;
                background-color: #2d2d2d;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #4388ff;
                }
            }
        }
    }
}

.history{
    background-color: #202020;
    border: none;

    .histories{
        position: relative;
        width: 100%;
        margin-top: 20px;

        .send-to{
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #24272a;

            svg{
                width: 30px;
                height: 30px;
            }
        }

        .name-to{
            .h6{
                color: rgb(206, 206, 206);
            }
            .to{
                color: rgb(75, 75, 75);
            }
        }

        .amt-price{
            text-align: right;
            position: absolute;
            right: 0;
            .h6{
                color: rgb(206, 206, 206);
            }
            .price{
                color: rgb(75, 75, 75);
            }
        }
    }
   
}


.fs-12{
    font-size: 12px;
}

.text-sm{
    font-size: 14px;
}

.profile-page{
    background-color: #202020;
    position: relative;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    .cover-img{
        width: 100%;
        height: 250px;
        background-image: url("https://img.freepik.com/free-photo/beautiful-mountains-landscape_23-2151151046.jpg?t=st=1718303850~exp=1718307450~hmac=5529d72683b29ff6903cc9eb2cd4c154f881b126550d3c1b684a6834d6b7b55e&w=1060");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .edit{
        position: relative;
     a{
        position: absolute;
        right: 0;
        margin-top: 30px;
        padding: 12px;
        width: 150px;
        border-radius: 50px;
     }   
   
    #my-profile{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        position: relative;
        border: 15px solid #2a2a2a;
        bottom: 40px;
        left: 30px;
    }

   

}
.name-id{
    margin-left: 45px;
    margin-top: 20px;
}
}

@media screen and (max-width:1200px){

    .profile-page{
        background-color: #202020;
        position: relative;
        border: none;
        margin-top: 20px;
        border-radius: 20px;
        .edit{
            position: relative;
         a{
            position: absolute;
            padding: 10px;
            width: 150px;
            width: 100%;
            border-radius: 50px;
            top: 40px;
            font-size: 14px;
         }   
       
        #my-profile{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            position: relative;
            border: 10px solid #2a2a2a;
            bottom: 40px;
            left: 10px;
        }
    
       
    
    }
    .name-id{
        margin-left: 20px;
        margin-top: 10px;
    }
    }

    .ror{
    
        .chat-box{
            border-radius: 20px;
            input{
            width: 65%;
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            }
            button{
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }

    .top-platfrom{
        .card{
           margin-top: 15px;
        }
    }
    
    

    .nft-card{
        margin-top: 20px;
    }

    #bal-def{
        width: 100px;
    }

    .swap-btn{
        width: 96%;
        left: calc(50% - 48%);
    }
    .swap-logo{
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
    svg{
        width: 25px;
        height: 25px;
    }
    }
    

    .swap-box{
        width: 100%;
        left: calc(50% - 50%);
        font-size: 14px;
        padding: 5px;
    }
    .app{
        width: 100%;
        height: 95vh;
        overflow-y:auto;
    }
    
    .colu-2{
        display: none;
    }
    .colu-3{
        display:block;
        width: 100%;
    }

    @mixin mag{
        margin-left: 40px;
    }
    .side-nav{
        display: none;
    }
    .interface{
        margin-left: 0;
        width: 100%;

        .header{
            height: 50px;
            .not-pro{
                transform: scale(0.8);
                right: 0;
                margin-top: -10px;
        
                .profile-holder{
                    .notification{
                        margin-right: 15px;
                    }
                    .ID{
                        display: none;
                    }
                }
            }
        }

        .tokens{
            border-top: 1px solid rgba(255, 255, 255,0.1);
    position: relative;
    height: 55vh;
    overflow-y: auto;
            .token{
                margin-top: 35px;
                align-items: center;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
    
                .token-name{
                    margin-left: 10px;
    .h6{
        font-size: 15px;
    }
                    .amount-read{
                        color: rgba(255, 255, 255,0.5);
                        font-size: 14px;
                    }
                }
            }
    
            .owned-token{
                text-align: right;
                font-size: 14px;
                .owned{
                    color: white;
                }
               .amount{
                color: rgba(255, 255, 255,0.5);
               }
            }
        }

        .card-bal{
            .h6{
                font-size: 13px;
            }
            .amount-display{
                font-size: 30px;
                font-weight: bold;
            }

            .btn-hold{
                position: relative;
                width: 100% !important;
                left: calc(50% - 50%);
                margin-top: 25px;

                
            a{
                &:nth-child(2){
                  margin-left: 50px;
                }
      
                &:nth-child(3){
                  margin-left: 50px;
                }
                      .action-hold{
                     
                          width: 50px;
                          height:50px;
                          left: calc(50% - 25px);

                          svg{
                              fill: white;
                              width: 25px;
                              height: 25px;
                          }
                        
                      }
                      span{
                        font-size: 12px;
                      }
      
                    
                  }
            }
            
        }
    }
.withdraw-content{
    .search-bar{
        padding: 10px;
        width: 100%;

    }

    .search-tokens{
position: relative;
height: 66vh;
overflow-y: auto;
        .token{
            align-items: center;
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            .token-name{
                margin-left: 10px;
.h6{
    font-size: 15px;
}
                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                    font-size: 14px;
                }
            }
        }

        .owned-token{
            text-align: right;
            font-size: 14px;
            .owned{
                color: white;
            }
           .amount{
            color: rgba(255, 255, 255,0.5);
           }
        }
    }
}

.send-box{
    width: 100%;
    left: calc(50% - 50%);

    form{
        input{
            padding: 10px;
        }
        button{
            padding: 10px;
        }
    }
   
}

.summary-box{
    width: 100%;
    left: calc(50% - 50%);
}
   

    .bottom-nav{
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 10;

        .items{
            position: relative;
            align-items: center;
            justify-content: center;

            .active{
                font-weight: bold;
                i{
                    color: #5593ff;
                }
                svg{
                    fill: #5593ff;
                }
            }

            a{
                position: relative;
                text-decoration: none;
                font-size: 12px;
                color:white;

                &:nth-child(2){
                    @include mag();
                }

                &:nth-child(3){
                    @include mag();
                }

                &:nth-child(4){
                    @include mag();
                }

                &:nth-child(5){
                    @include mag();
                }
                svg{
                    fill: rgba(255, 255, 255,0.4);
                }
                span{
                    display: none;
                }
            }
        }
    }

    .view-token{
        .btn-hold{
            position: relative;
            width: 100% !important;
            left: calc(50% - 50%);
            margin-top: 25px;

            
        a{
            &:nth-child(2){
              margin-left: 28px;
            }
  
            &:nth-child(3){
              margin-left: 28px;
            }

            &:nth-child(4){
                margin-left: 28px;
              }
                  .action-hold{
                 
                      width: 50px;
                      height:50px;
                      left: calc(50% - 25px);

                      svg{
                          fill: white;
                          width: 25px;
                          height: 25px;
                      }
                    
                  }
                  span{
                    font-size: 12px;
                  }
  
                
              }
        }

        .histories{
            position: relative;
            width: 100%;
            margin-top: 20px;
    
            .send-to{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #202020;
    
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
    
            .name-to{
                font-size: 14px;
                .h6{
                    color: rgb(206, 206, 206);
                }
                .to{
                    color: rgb(75, 75, 75);
                }
            }
    
            .amt-price{
                font-size: 14px;
                text-align: right;
                position: absolute;
                right: 0;
                .h6{
                    color: rgb(206, 206, 206);
                }
                .price{
                    color: rgb(75, 75, 75);
                }
            }
        }
    }

    .history{

        .histories{
            position: relative;
            width: 100%;
            margin-top: 20px;
    
            .send-to{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
    
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
    
            .name-to{
                font-size: 14px;
                .h6{
                    color: rgb(206, 206, 206);
                }
                .to{
                    color: rgb(75, 75, 75);
                    font-size: 12px;
                }
            }
    
            .amt-price{
                font-size: 12px;
                text-align: right;
                position: absolute;
                right: 0;
                .h6{
                    color: rgb(206, 206, 206);
                }
                .price{
                    color: rgb(75, 75, 75);
                }
            }
        }
    }

  
}