
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.bg-color{
    background-color: #141618;
}

.nav-bg{
    background-color: #24272a;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin item-active{
    border-right: 3px solid #5593ff;
    transition: 0.5s;
    font-weight: bold;
    i{
        color: #5593ff;
    }
}
.side-nav{
width: 230px;
height: 100vh;
position: fixed;
left: 0;
top: 0;
display: block;
border-right: 1px solid rgb(74, 74, 74);

.nav-items{
    font-size: 14px;
    .item{
        text-decoration: none;
        margin-top: 35px;
        transition: 0.2s;
        color: rgb(230, 230, 230);
       
        .count-noti{
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: red;
            font-size: 10px;
            color: white;
            border-radius: 50%;
            top: 0;
            right: -25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover{
            @include item-active();
        }
    }

    .active{
        @include item-active();
    }
}
}

.nav-footer{
position: absolute;
bottom: 0;
padding-top: 20px;
padding-bottom: 20px;;
a{
    text-decoration: none;
}

}
.interface{
    width: 85%;
    margin-left: 230px;
    height: 100vh;

    .header{
        position: relative;
        width: 100%;
        

        .title{
            font-weight: bold;
        }
    }

    .not-pro{

        .notification{
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255,0.2);
            display: flex;
            align-items: center;
            justify-content: center;

            .count-noti{
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #5593ff;
                color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;

            span{
                font-size: 10px;
            }
            }
        }
    }
}


.bottom-nav{
    display: none;
}



@media screen and (max-width:800px){

    @mixin mag{
        margin-left: 40px;
    }
    .side-nav{
        display: none;
    }
    .interface{
        margin-left: 0;
        width: 100%;
    }

    .bottom-nav{
        display: block;
        position: fixed;
        bottom: 0;

        .items{
            position: relative;
            align-items: center;
            justify-content: center;

            .active{
                font-weight: bold;
                i{
                    color: #5593ff;
                }
                svg{
                    fill: #5593ff;
                }
            }

            a{
                position: relative;
                text-decoration: none;
                font-size: 12px;
                color:white;

                &:nth-child(2){
                    @include mag();
                }

                &:nth-child(3){
                    @include mag();
                }

                &:nth-child(4){
                    @include mag();
                }

                &:nth-child(5){
                    @include mag();
                }
                svg{
                    fill: rgba(255, 255, 255,0.4);
                }
                span{
                    display: none;
                }
            }
        }
    }
}