@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-color{
    background-color: #141618;
}

.nav-bg{
    background-color: #24272a;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin item-active{
    border-right: 3px solid #5593ff;
    transition: 0.5s;
    font-weight: bold;
    i{
        color: #5593ff;
    }
}

.colu-2{
    position: relative;
}
.side-nav{
    width:inherit;
height: 100vh;
position: fixed;
left: 0;
top: 0;
display: block;
border-right: 1px solid rgb(74, 74, 74);

.nav-items{
    font-size: 14px;
    .item{
        text-decoration: none;
        margin-top: 38px;
        transition: 0.2s;
        color: rgb(230, 230, 230);
       
        .count-noti{
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: red;
            font-size: 10px;
            color: white;
            border-radius: 50%;
            top: 0;
            right: -25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover{
            @include item-active();
        }
    }

    .active{
        @include item-active();
    }
}
}

.nav-footer{
position: absolute;
bottom: 0;
padding-top: 20px;
padding-bottom: 20px;;
a{
    text-decoration: none;
}

}
.interface{
    height: 100vh;

    .header{
        background-color:rgba(21, 23, 25,0.3);
        position: sticky;
        top: 0;
        width: 100%;
        height: 70px;
        align-items: center;
        backdrop-filter: blur(5px);
        

        .title{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .not-pro{
position: absolute;
right: 0px;
        .notification{
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255,0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;

            .count-noti{
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #5593ff;
                color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;

            span{
                font-size: 10px;
            }
            }
        }

        .profile-holder{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                border-radius:50%;
                width: 42px;
                height: 42px;
            }

            .ID{
                .gray{
                    color: gray;
                    font-size: 12px;
                }
            }
        }
    }

    .card-bal{
        border: none;
        .h6{
            color: gray;
        }
        .amount-display{
            font-size: 30px;
            font-weight: bold;
        }

        .btn-hold{
            position: relative;
            width: 50% !important;
            left: calc(50% - 25%);
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
          &:nth-child(2){
            margin-left: 90px;
          }

          &:nth-child(3){
            margin-left: 90px;
          }
                .action-hold{
                    position: relative;
                    width: 60px;
                    height:60px ;
                    left: calc(50% - 35px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(255, 255, 255,0.1);
                    border-radius: 50%;
                    svg{
                        fill: white;
                        width: 30px;
                        height: 30px;
                    }
                }

                span{
                 position: relative;
                 top: 10px;
                 font-size: 16px;
                }
            }

       
        }
        
    }

    .tokens{
        border-top: 1px solid rgba(255, 255, 255,0.1);
position: relative;
height: 47vh;
overflow-y: auto;

&::-webkit-scrollbar{
    display: none;
}
        .token{
            margin-top: 35px;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .token-name{
                margin-left: 20px;

                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                }
            }
        }

        .owned-token{
            position: absolute;
            right: 0;
            color: rgba(255, 255, 255,0.5);
        }
    }
}


.bottom-nav{
    display: none;
}

.withdraw-content{
    .search-bar{
        padding: 20px;
        width: 50%;
        border-radius: 50px;
        align-items: center;
        background-color: rgba(100, 100, 100, 0.1);
    
        i{
            margin-left: 10px;
            color: gray;
        }
        input{
            background-color: transparent;
            border: none;
            margin-left: 10px;
            width: 90%;
            outline: none;
            color: white;
        }
    }
    
    .search-tokens{
    position: relative;
    height: 66vh;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
    display: none;
    }
        .token{
            align-items: center;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
    
            .token-name{
                margin-left: 20px;
    
                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                }
            }
        }
    
        .owned-token{
            text-align: right;
            position: absolute;
            right: 0;
            color: rgba(255, 255, 255,0.5);
        }
    }
}

.send-box{
    padding: 25px;
    background-color: #24272a;
    width: 50%;
    position: relative;
    left: calc(50% - 25%);
    margin-top: 50px;
    border-radius: 20px;

    form{
        margin-top: 15px;
        input{
            background-color: transparent;
            outline: none !important;
            border: 1px solid rgba(255, 255, 255,0.2);
            padding: 12px;
            color:rgba(255, 255, 255,0.5) !important;

            &:focus{
                background-color: transparent;
            }
        }
        span{
            font-size: 12px;
            margin-top: 10px;
        }
        label{
          color: gray;
        }
        button{
            padding: 12px;
            width: 100%;
            color: white;
            background-color: #5593ff;

            &:hover{
                background-color: #2575ff !important;
                color: white !important;
            }
        }
    }
}

.summary-box{
    position: relative;
    left: calc(50% - 20%);
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: #202020;
    border-radius: 20px;

    svg{
        width: 80px;
        height: 80px;
        fill: orange;
    }

    .h5{
        color: rgb(196, 196, 196);
        margin-top: 20px;
    }
    .sum{
        position: relative;
        color: gray;
        font-size: 13px;

        .res{
            position: absolute;
            right: 5px;
        color: #525252;
        text-align: right;
        }
    }

    a{
        margin-top: 20px;
        width: 97%;
        background-color: #4388ff;
        padding: 12px;
        color: white;

        &:hover{
            background-color: #2575ff;
            color: white;
        }
    }
    
    .note{
        padding: 12px;
        font-size: 12px;
        text-align: left;
        color: rgb(82, 82, 82);
    }
}




@media screen and (max-width:1200px){

    .colu-2{
        display: none;
    }
    .colu-3{
        display:block;
        width: 100%;
    }

    @mixin mag{
        margin-left: 40px;
    }
    .side-nav{
        display: none;
    }
    .interface{
        margin-left: 0;
        width: 100%;

        .header{
            height: 50px;
            .not-pro{
                transform: scale(0.8);
                right: 0;
                margin-top: -10px;
        
                .profile-holder{
                    .notification{
                        margin-right: 15px;
                    }
                    .ID{
                        display: none;
                    }
                }
            }
        }

        .tokens{
            border-top: 1px solid rgba(255, 255, 255,0.1);
    position: relative;
    height: 55vh;
    overflow-y: auto;
            .token{
                margin-top: 35px;
                align-items: center;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
    
                .token-name{
                    margin-left: 10px;
    .h6{
        font-size: 15px;
    }
                    .amount-read{
                        color: rgba(255, 255, 255,0.5);
                        font-size: 14px;
                    }
                }
            }
    
            .owned-token{
                text-align: right;
                font-size: 14px;
                .owned{
                    color: white;
                }
               .amount{
                color: rgba(255, 255, 255,0.5);
               }
            }
        }

        .card-bal{
            .h6{
                font-size: 13px;
            }
            .amount-display{
                font-size: 30px;
                font-weight: bold;
            }

            .btn-hold{
                position: relative;
                width: 100% !important;
                left: calc(50% - 50%);
                margin-top: 25px;

                
            a{
                &:nth-child(2){
                  margin-left: 50px;
                }
      
                &:nth-child(3){
                  margin-left: 50px;
                }
                      .action-hold{
                     
                          width: 50px;
                          height:50px;
                          left: calc(50% - 25px);

                          svg{
                              fill: white;
                              width: 25px;
                              height: 25px;
                          }
                        
                      }
                      span{
                        font-size: 12px;
                      }
      
                    
                  }
            }
            
        }
    }
.withdraw-content{
    .search-bar{
        padding: 10px;
        width: 100%;

    }

    .search-tokens{
position: relative;
height: 66vh;
overflow-y: auto;
        .token{
            align-items: center;
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            .token-name{
                margin-left: 10px;
.h6{
    font-size: 15px;
}
                .amount-read{
                    color: rgba(255, 255, 255,0.5);
                    font-size: 14px;
                }
            }
        }

        .owned-token{
            text-align: right;
            font-size: 14px;
            .owned{
                color: white;
            }
           .amount{
            color: rgba(255, 255, 255,0.5);
           }
        }
    }
}

.send-box{
    width: 100%;
    left: calc(50% - 50%);

    form{
        input{
            padding: 10px;
        }
        button{
            padding: 10px;
        }
    }
   
}

.summary-box{
    width: 100%;
    left: calc(50% - 50%);
}
   

    .bottom-nav{
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 10;

        .items{
            position: relative;
            align-items: center;
            justify-content: center;

            .active{
                font-weight: bold;
                i{
                    color: #5593ff;
                }
                svg{
                    fill: #5593ff;
                }
            }

            a{
                position: relative;
                text-decoration: none;
                font-size: 12px;
                color:white;

                &:nth-child(2){
                    @include mag();
                }

                &:nth-child(3){
                    @include mag();
                }

                &:nth-child(4){
                    @include mag();
                }

                &:nth-child(5){
                    @include mag();
                }
                svg{
                    fill: rgba(255, 255, 255,0.4);
                }
                span{
                    display: none;
                }
            }
        }
    }

  
}