@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-color {
  background-color: #141618;
}

.nav-bg {
  background-color: #24272a;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** SCAN QR CODE FOR DEPOSITE SCREEN***/
.info-text {
  font-size: 12px;
}

.qr-code-container {
  position: relative;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  left: calc(50% - 125px);
}
.qr-code-container img {
  position: relative;
  width: 200px;
  left: calc(50% - 110px);
  margin-top: 5px;
}

.address {
  width: 100%;
}

.a-btn {
  margin-top: 15px;
  padding: 12px;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .a-btn {
    width: 100%;
  }
  .address {
    font-size: 11px;
  }
}
/** SCAN QR CODE FOR DEPOSITE SCREEN ENDS HERE***/
.colu-2 {
  position: relative;
}

.side-nav {
  width: inherit;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  border-right: 1px solid rgb(74, 74, 74);
}
.side-nav .nav-items {
  font-size: 14px;
}
.side-nav .nav-items .item {
  text-decoration: none;
  margin-top: 38px;
  transition: 0.2s;
  color: rgb(230, 230, 230);
}
.side-nav .nav-items .item .count-noti {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: red;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  top: 0;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav .nav-items .item:hover {
  border-right: 3px solid #5593ff;
  transition: 0.5s;
  font-weight: bold;
}
.side-nav .nav-items .item:hover i {
  color: #5593ff;
}
.side-nav .nav-items .active {
  border-right: 3px solid #5593ff;
  transition: 0.5s;
  font-weight: bold;
}
.side-nav .nav-items .active i {
  color: #5593ff;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-footer a {
  text-decoration: none;
}

.interface {
  height: 100vh;
}
.interface .header {
  background-color: rgba(21, 23, 25, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.interface .header .title {
  font-size: 20px;
  font-weight: bold;
}
.interface .not-pro {
  position: absolute;
  right: 0px;
}
.interface .not-pro .notification {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.interface .not-pro .notification .count-noti {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #5593ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
}
.interface .not-pro .notification .count-noti span {
  font-size: 10px;
}
.interface .not-pro .profile-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface .not-pro .profile-holder img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.interface .not-pro .profile-holder .ID .gray {
  color: gray;
  font-size: 12px;
}
.interface .card-bal {
  border: none;
}
.interface .card-bal .h6 {
  color: gray;
}
.interface .card-bal .amount-display {
  font-size: 30px;
  font-weight: bold;
}
.interface .card-bal .btn-hold {
  position: relative;
  width: 50% !important;
  left: 25%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface .card-bal .btn-hold a:nth-child(2) {
  margin-left: 90px;
}
.interface .card-bal .btn-hold a:nth-child(3) {
  margin-left: 90px;
}
.interface .card-bal .btn-hold a .action-hold {
  position: relative;
  width: 60px;
  height: 60px;
  left: calc(50% - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.interface .card-bal .btn-hold a .action-hold svg {
  fill: white;
  width: 30px;
  height: 30px;
}
.interface .card-bal .btn-hold a span {
  position: relative;
  top: 10px;
  font-size: 16px;
}
.interface .tokens {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  height: 47vh;
  overflow-y: auto;
}
.interface .tokens::-webkit-scrollbar {
  display: none;
}
.interface .tokens .token {
  margin-top: 35px;
  align-items: center;
}
.interface .tokens .token img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.interface .tokens .token .token-name {
  margin-left: 20px;
}
.interface .tokens .token .token-name .amount-read {
  color: rgba(255, 255, 255, 0.5);
}
.interface .tokens .owned-token {
  text-align: right;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.bottom-nav {
  display: none;
}

.withdraw-content .search-bar {
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.1);
}
.withdraw-content .search-bar i {
  margin-left: 10px;
  color: gray;
}
.withdraw-content .search-bar input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 90%;
  outline: none;
  color: white;
}
.withdraw-content .search-tokens {
  position: relative;
  height: 66vh;
  overflow-y: auto;
}
.withdraw-content .search-tokens::-webkit-scrollbar {
  display: none;
}
.withdraw-content .search-tokens .token {
  align-items: center;
}
.withdraw-content .search-tokens .token img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.withdraw-content .search-tokens .token .token-name {
  margin-left: 20px;
}
.withdraw-content .search-tokens .token .token-name .amount-read {
  color: rgba(255, 255, 255, 0.5);
}
.withdraw-content .search-tokens .owned-token {
  text-align: right;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.send-box {
  padding: 25px;
  background-color: #24272a;
  width: 50%;
  position: relative;
  left: 25%;
  margin-top: 50px;
  border-radius: 20px;
}
.send-box form {
  margin-top: 15px;
}
.send-box form input {
  background-color: transparent;
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  color: rgba(255, 255, 255, 0.5) !important;
}
.send-box form input:focus {
  background-color: transparent;
}
.send-box form span {
  font-size: 12px;
  margin-top: 10px;
}
.send-box form label {
  color: gray;
}
.send-box form button {
  padding: 12px;
  width: 100%;
  color: white;
  background-color: #5593ff;
}
.send-box form button:hover {
  background-color: #2575ff !important;
  color: white !important;
}

.summary-box {
  position: relative;
  left: 30%;
  width: 40%;
  padding: 20px;
  text-align: center;
  background-color: #202020;
  border-radius: 20px;
}
.summary-box svg {
  width: 80px;
  height: 80px;
  fill: orange;
}
.summary-box .h5 {
  color: rgb(196, 196, 196);
  margin-top: 20px;
}
.summary-box .sum {
  position: relative;
  color: gray;
  font-size: 13px;
}
.summary-box .sum .res {
  position: absolute;
  right: 5px;
  color: #525252;
  text-align: right;
}
.summary-box a {
  margin-top: 20px;
  width: 97%;
  background-color: #4388ff;
  padding: 12px;
  color: white;
}
.summary-box a:hover {
  background-color: #2575ff;
  color: white;
}
.summary-box .note {
  padding: 12px;
  font-size: 12px;
  text-align: left;
  color: rgb(82, 82, 82);
}

.view-token .cur {
  color: gray;
  font-size: 14px;
}
.view-token .current-bal .h3 {
  font-weight: bold;
  margin-top: 12px;
}
.view-token .own-preview .own-bal {
  color: rgb(88, 88, 88);
}
.view-token .btn-hold {
  position: relative;
  width: 50% !important;
  left: 25%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-token .btn-hold a:nth-child(2) {
  margin-left: 70px;
}
.view-token .btn-hold a:nth-child(3) {
  margin-left: 70px;
}
.view-token .btn-hold a:nth-child(4) {
  margin-left: 70px;
}
.view-token .btn-hold a .action-hold {
  position: relative;
  width: 60px;
  height: 60px;
  left: calc(50% - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.view-token .btn-hold a .action-hold svg {
  fill: white;
  width: 30px;
  height: 30px;
}
.view-token .btn-hold a span {
  position: relative;
  top: 10px;
  font-size: 16px;
}
.view-token .histories {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.view-token .histories .send-to {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #202020;
}
.view-token .histories .send-to svg {
  width: 30px;
  height: 30px;
}
.view-token .histories .name-to .h6 {
  color: rgb(206, 206, 206);
}
.view-token .histories .name-to .to {
  color: rgb(75, 75, 75);
}
.view-token .histories .amt-price {
  text-align: right;
  position: absolute;
  right: 0;
}
.view-token .histories .amt-price .h6 {
  color: rgb(206, 206, 206);
}
.view-token .histories .amt-price .price {
  color: rgb(75, 75, 75);
}

.app {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.app::-webkit-scrollbar {
  display: none;
}

.swap-box {
  margin-top: 30px;
  position: relative;
  width: 60%;
  background-color: transparent;
  left: 20%;
  padding: 20px;
  border: none;
}
.swap-box .from {
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color: #202020;
  border: none;
  position: relative;
}
.swap-box .from .coin-amt .coin-log-name img {
  width: 40px;
  height: 40px;
}
.swap-box .from .coin-amt input {
  position: absolute;
  right: 30px;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.swap-box .swap-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background-color: #141618;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swap-box .swap-logo svg {
  width: 30px;
  height: 30px;
}
.swap-box .to {
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color: #202020;
  border: none;
  position: relative;
  margin-top: 20px;
}
.swap-box .to .coin-amt .coin-sel img {
  width: 40px;
  height: 40px;
}
.swap-box .to .coin-amt .coin-sel #token-swap {
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
}
.swap-box .to .coin-amt .coin-sel #token-swap option {
  background-color: #24272a;
}
.swap-box .to .coin-amt input {
  position: absolute;
  right: 30px;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.swap-btn {
  padding: 12px;
  width: 56%;
  position: relative;
  left: 22%;
}

.nft-wel {
  border-radius: 20px;
  margin-top: 20px;
  background-color: #202020;
}

.nft-card .card {
  position: relative;
  border: none;
  background-color: #202020;
  border-radius: 20px;
}
.nft-card .card .own-create {
  position: relative;
}
.nft-card .card .own-create .own-by .title {
  font-size: 12px;
}
.nft-card .card .own-create .own-by .name {
  color: #c4c4c4;
  font-size: 14px;
}
.nft-card .card .own-create .create-by {
  position: absolute;
  text-align: right;
  right: 0;
}
.nft-card .card .own-create .create-by .title {
  font-size: 12px;
}
.nft-card .card .own-create .create-by .name {
  color: #c4c4c4;
  font-size: 14px;
}
.nft-card .card #nft-img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  margin-top: 10px;
}
.nft-card .card .details .pricing {
  position: relative;
}
.nft-card .card .details .pricing .token img {
  width: 38px;
  height: 38px;
  margin-top: 5px;
}
.nft-card .card .details .pricing .token span {
  font-size: 14px;
}
.nft-card .card .details .pricing a {
  position: absolute;
  right: 0;
  width: 100px;
  border-radius: 50px;
}

.top-platfrom {
  margin-top: 30px;
}
.top-platfrom .card {
  background-color: #202020;
  width: 100%;
  display: flex;
  border-radius: 20px;
}
.top-platfrom .card img {
  width: 40px;
  height: 40px;
}

.text-gray {
  color: rgb(119, 119, 119);
}

/** NFT MODAL**/
.nft-modal {
  background-color: #141618 !important;
}
.nft-modal .body select {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  color: rgb(204, 204, 204);
  border: none;
  outline: none;
  padding: 12px;
  background-color: #24272a;
  border-radius: 10px;
}
.nft-modal .body select option {
  background-color: #202020;
}
.nft-modal .body .price {
  margin-top: 15px;
  font-size: 13px;
  position: relative;
}
.nft-modal .body .price .eth-price {
  font-size: 13px;
  color: gray;
}
.nft-modal .body .price .usd-price {
  color: gray;
  position: absolute;
  right: 0;
}
.nft-modal .body .mtd {
  font-size: 12px;
  color: rgb(124, 124, 124);
}

/** NFT MODAL ENDS HERE**/
.ror {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 75vh;
  overflow-x: auto;
}
.ror .chat-box {
  background-color: #202020;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0%;
  border-radius: 70px;
}
.ror .chat-box input {
  width: 90%;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;
  outline: none;
}
.ror .chat-box button {
  border: none;
  outline: none;
  background-color: transparent;
}

.messages .card {
  background-color: #202020;
  border: none;
  margin-top: 20px;
}
.messages .card .msg {
  border-bottom: 1px solid rgb(54, 54, 54);
}
.messages .card .msg img {
  width: 50px;
  height: 50px;
}
.messages .card .msg .text-date {
  margin-left: 20px;
}

.fs-12 {
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .ror .chat-box {
    border-radius: 20px;
  }
  .ror .chat-box input {
    width: 65%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
  }
  .ror .chat-box button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .top-platfrom .card {
    margin-top: 15px;
  }
  .nft-card {
    margin-top: 20px;
  }
  #bal-def {
    width: 100px;
  }
  .swap-btn {
    width: 96%;
    left: 2%;
  }
  .swap-logo {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }
  .swap-logo svg {
    width: 25px;
    height: 25px;
  }
  .swap-box {
    width: 100%;
    left: 0%;
    font-size: 14px;
    padding: 5px;
  }
  .app {
    width: 100%;
    height: 95vh;
    overflow-y: auto;
  }
  .colu-2 {
    display: none;
  }
  .colu-3 {
    display: block;
    width: 100%;
  }
  .side-nav {
    display: none;
  }
  .interface {
    margin-left: 0;
    width: 100%;
  }
  .interface .header {
    height: 50px;
  }
  .interface .header .not-pro {
    transform: scale(0.8);
    right: 0;
    margin-top: -10px;
  }
  .interface .header .not-pro .profile-holder .notification {
    margin-right: 15px;
  }
  .interface .header .not-pro .profile-holder .ID {
    display: none;
  }
  .interface .tokens {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    height: 55vh;
    overflow-y: auto;
  }
  .interface .tokens .token {
    margin-top: 35px;
    align-items: center;
  }
  .interface .tokens .token img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .interface .tokens .token .token-name {
    margin-left: 10px;
  }
  .interface .tokens .token .token-name .h6 {
    font-size: 15px;
  }
  .interface .tokens .token .token-name .amount-read {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  .interface .tokens .owned-token {
    text-align: right;
    font-size: 14px;
  }
  .interface .tokens .owned-token .owned {
    color: white;
  }
  .interface .tokens .owned-token .amount {
    color: rgba(255, 255, 255, 0.5);
  }
  .interface .card-bal .h6 {
    font-size: 13px;
  }
  .interface .card-bal .amount-display {
    font-size: 30px;
    font-weight: bold;
  }
  .interface .card-bal .btn-hold {
    position: relative;
    width: 100% !important;
    left: 0%;
    margin-top: 25px;
  }
  .interface .card-bal .btn-hold a:nth-child(2) {
    margin-left: 50px;
  }
  .interface .card-bal .btn-hold a:nth-child(3) {
    margin-left: 50px;
  }
  .interface .card-bal .btn-hold a .action-hold {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
  }
  .interface .card-bal .btn-hold a .action-hold svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
  .interface .card-bal .btn-hold a span {
    font-size: 12px;
  }
  .withdraw-content .search-bar {
    padding: 10px;
    width: 100%;
  }
  .withdraw-content .search-tokens {
    position: relative;
    height: 66vh;
    overflow-y: auto;
  }
  .withdraw-content .search-tokens .token {
    align-items: center;
  }
  .withdraw-content .search-tokens .token img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .withdraw-content .search-tokens .token .token-name {
    margin-left: 10px;
  }
  .withdraw-content .search-tokens .token .token-name .h6 {
    font-size: 15px;
  }
  .withdraw-content .search-tokens .token .token-name .amount-read {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  .withdraw-content .search-tokens .owned-token {
    text-align: right;
    font-size: 14px;
  }
  .withdraw-content .search-tokens .owned-token .owned {
    color: white;
  }
  .withdraw-content .search-tokens .owned-token .amount {
    color: rgba(255, 255, 255, 0.5);
  }
  .send-box {
    width: 100%;
    left: 0%;
  }
  .send-box form input {
    padding: 10px;
  }
  .send-box form button {
    padding: 10px;
  }
  .summary-box {
    width: 100%;
    left: 0%;
  }
  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
  }
  .bottom-nav .items {
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .bottom-nav .items .active {
    font-weight: bold;
  }
  .bottom-nav .items .active i {
    color: #5593ff;
  }
  .bottom-nav .items .active svg {
    fill: #5593ff;
  }
  .bottom-nav .items a {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
  .bottom-nav .items a:nth-child(2) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(3) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(4) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(5) {
    margin-left: 40px;
  }
  .bottom-nav .items a svg {
    fill: rgba(255, 255, 255, 0.4);
  }
  .bottom-nav .items a span {
    display: none;
  }
  .view-token .btn-hold {
    position: relative;
    width: 100% !important;
    left: 0%;
    margin-top: 25px;
  }
  .view-token .btn-hold a:nth-child(2) {
    margin-left: 28px;
  }
  .view-token .btn-hold a:nth-child(3) {
    margin-left: 28px;
  }
  .view-token .btn-hold a:nth-child(4) {
    margin-left: 28px;
  }
  .view-token .btn-hold a .action-hold {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
  }
  .view-token .btn-hold a .action-hold svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
  .view-token .btn-hold a span {
    font-size: 12px;
  }
  .view-token .histories {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .view-token .histories .send-to {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #202020;
  }
  .view-token .histories .send-to svg {
    width: 20px;
    height: 20px;
  }
  .view-token .histories .name-to {
    font-size: 14px;
  }
  .view-token .histories .name-to .h6 {
    color: rgb(206, 206, 206);
  }
  .view-token .histories .name-to .to {
    color: rgb(75, 75, 75);
  }
  .view-token .histories .amt-price {
    font-size: 14px;
    text-align: right;
    position: absolute;
    right: 0;
  }
  .view-token .histories .amt-price .h6 {
    color: rgb(206, 206, 206);
  }
  .view-token .histories .amt-price .price {
    color: rgb(75, 75, 75);
  }
}/*# sourceMappingURL=style.css.map */