@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-color {
  background-color: #141618;
}

.nav-bg {
  background-color: #24272a;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav {
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  border-right: 1px solid rgb(74, 74, 74);
}
.side-nav .nav-items {
  font-size: 14px;
}
.side-nav .nav-items .item {
  text-decoration: none;
  margin-top: 35px;
  transition: 0.2s;
  color: rgb(230, 230, 230);
}
.side-nav .nav-items .item .count-noti {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: red;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  top: 0;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav .nav-items .item:hover {
  border-right: 3px solid #5593ff;
  transition: 0.5s;
  font-weight: bold;
}
.side-nav .nav-items .item:hover i {
  color: #5593ff;
}
.side-nav .nav-items .active {
  border-right: 3px solid #5593ff;
  transition: 0.5s;
  font-weight: bold;
}
.side-nav .nav-items .active i {
  color: #5593ff;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-footer a {
  text-decoration: none;
}

.interface {
  width: 85%;
  margin-left: 230px;
  height: 100vh;
}
.interface .header {
  background-color: rgba(21, 23, 25, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.interface .header .title {
  font-size: 20px;
  font-weight: bold;
}
.interface .not-pro {
  position: absolute;
  right: 0px;
}
.interface .not-pro .notification {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.interface .not-pro .notification .count-noti {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #5593ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
}
.interface .not-pro .notification .count-noti span {
  font-size: 10px;
}
.interface .not-pro .profile-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface .not-pro .profile-holder img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.interface .not-pro .profile-holder .ID .gray {
  color: gray;
  font-size: 12px;
}
.interface .card-bal {
  border: none;
}
.interface .card-bal .h6 {
  color: gray;
}
.interface .card-bal .amount-display {
  font-size: 40px;
  font-weight: bold;
}
.interface .card-bal .btn-hold {
  position: relative;
  width: 50% !important;
  left: 25%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface .card-bal .btn-hold a:nth-child(2) {
  margin-left: 90px;
}
.interface .card-bal .btn-hold a:nth-child(3) {
  margin-left: 90px;
}
.interface .card-bal .btn-hold a .action-hold {
  position: relative;
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.interface .card-bal .btn-hold a .action-hold svg {
  fill: white;
  width: 35px;
  height: 35px;
}
.interface .card-bal .btn-hold a span {
  position: relative;
  top: 10px;
  font-size: 16px;
}
.interface .tokens {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  height: 51vh;
  overflow-y: auto;
}
.interface .tokens::-webkit-scrollbar {
  display: none;
}
.interface .tokens .token {
  margin-top: 35px;
  align-items: center;
}
.interface .tokens .token img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.interface .tokens .token .token-name {
  margin-left: 20px;
}
.interface .tokens .token .token-name .amount-read {
  color: rgba(255, 255, 255, 0.5);
}
.interface .tokens .owned-token {
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.bottom-nav {
  display: none;
}

.withdraw-content .search-bar {
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.1);
}
.withdraw-content .search-bar i {
  margin-left: 10px;
  color: gray;
}
.withdraw-content .search-bar input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 90%;
  outline: none;
}
.withdraw-content .search-tokens {
  position: relative;
  height: 66vh;
  overflow-y: auto;
}
.withdraw-content .search-tokens::-webkit-scrollbar {
  display: none;
}
.withdraw-content .search-tokens .token {
  align-items: center;
}
.withdraw-content .search-tokens .token img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.withdraw-content .search-tokens .token .token-name {
  margin-left: 20px;
}
.withdraw-content .search-tokens .token .token-name .amount-read {
  color: rgba(255, 255, 255, 0.5);
}
.withdraw-content .search-tokens .owned-token {
  text-align: right;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 800px) {
  .side-nav {
    display: none;
  }
  .interface {
    margin-left: 0;
    width: 100%;
  }
  .interface .header {
    height: 50px;
  }
  .interface .header .not-pro {
    transform: scale(0.8);
    right: 0;
    margin-top: -10px;
  }
  .interface .header .not-pro .profile-holder .notification {
    margin-right: 15px;
  }
  .interface .header .not-pro .profile-holder .ID {
    display: none;
  }
  .interface .tokens {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    height: 44vh;
    overflow-y: auto;
  }
  .interface .tokens .token {
    margin-top: 35px;
    align-items: center;
  }
  .interface .tokens .token img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .interface .tokens .token .token-name {
    margin-left: 10px;
  }
  .interface .tokens .token .token-name .h6 {
    font-size: 15px;
  }
  .interface .tokens .token .token-name .amount-read {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  .interface .tokens .owned-token {
    text-align: right;
    font-size: 14px;
  }
  .interface .tokens .owned-token .owned {
    color: white;
  }
  .interface .tokens .owned-token .amount {
    color: rgba(255, 255, 255, 0.5);
  }
  .interface .card-bal .h6 {
    font-size: 13px;
  }
  .interface .card-bal .amount-display {
    font-size: 30px;
    font-weight: bold;
  }
  .interface .card-bal .btn-hold {
    position: relative;
    width: 100% !important;
    left: 0%;
    margin-top: 25px;
  }
  .interface .card-bal .btn-hold a:nth-child(2) {
    margin-left: 50px;
  }
  .interface .card-bal .btn-hold a:nth-child(3) {
    margin-left: 50px;
  }
  .interface .card-bal .btn-hold a .action-hold {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
  }
  .interface .card-bal .btn-hold a .action-hold svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
  .interface .card-bal .btn-hold a span {
    font-size: 12px;
  }
  .withdraw-content .search-bar {
    padding: 10px;
    width: 100%;
  }
  .withdraw-content .search-tokens {
    position: relative;
    height: 66vh;
    overflow-y: auto;
  }
  .withdraw-content .search-tokens .token {
    align-items: center;
  }
  .withdraw-content .search-tokens .token img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .withdraw-content .search-tokens .token .token-name {
    margin-left: 10px;
  }
  .withdraw-content .search-tokens .token .token-name .h6 {
    font-size: 15px;
  }
  .withdraw-content .search-tokens .token .token-name .amount-read {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
  .withdraw-content .search-tokens .owned-token {
    text-align: right;
    font-size: 14px;
  }
  .withdraw-content .search-tokens .owned-token .owned {
    color: white;
  }
  .withdraw-content .search-tokens .owned-token .amount {
    color: rgba(255, 255, 255, 0.5);
  }
  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
  }
  .bottom-nav .items {
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .bottom-nav .items .active {
    font-weight: bold;
  }
  .bottom-nav .items .active i {
    color: #5593ff;
  }
  .bottom-nav .items .active svg {
    fill: #5593ff;
  }
  .bottom-nav .items a {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
  .bottom-nav .items a:nth-child(2) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(3) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(4) {
    margin-left: 40px;
  }
  .bottom-nav .items a:nth-child(5) {
    margin-left: 40px;
  }
  .bottom-nav .items a svg {
    fill: rgba(255, 255, 255, 0.4);
  }
  .bottom-nav .items a span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */